WECHAT_WEBHOOK=
ETH_RPC_URLS=
BSC_RPC_URLS=
# TRON_RPC_URLS=https://api.trongrid.io,https://api.tronstack.io
# SOLANA_RPC_URLS=https://solana-rpc.publicnode.com,https://api.mainnet-beta.solana.com
# APTOS_INDEXER_URLS=https://api.mainnet.aptoslabs.com/v1/graphql
# TEMPO_RPC_URLS=https://rpc.presto.tempo.xyz
# PLUME_RPC_URLS=https://rpc.plume.org
# AB_RPC_URLS=https://rpc.core.ab.org
# MONAD_RPC_URLS=https://rpc.monad.xyz
# MANTLE_RPC_URLS=https://rpc.mantle.xyz
# MORPH_RPC_URLS=https://rpc.morphl2.io
